* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    position: relative;
    height: 80vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .3);
}
.header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -99999;
}
.top-icons{
    background-color: rgba(0, 0, 0, 0.4)
}

.top-icons a {
    color: rgb(185, 182, 182);
}
.top-nav a {
    color: white;
}
.top-nav li:first-child {
    border-bottom: 2px solid red;
}
.top-nav li a:hover li {
    border-bottom: 2px solid red;
    color: white;
}
.slider-dots span {
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #ff0011;
      margin-right: 20px;
}
.slider-dots .active {
    width: 10px;
    height: 10px;
}
.slider-pagination {
    width: 80%;
    position: absolute;
    bottom: 20px;
}
.slider-button button {
    background-color: red;
    color: white;
    padding: 10px;
    text-align: right;
    border-radius: 50%;
}
.slider-btn:hover {
    background-color: red!important;
    color: white!important;
}
.primary-clr {
    color: red;
}
.card-shadow {
    border-radius: 10px;
    
}
.brands .card-shadow {
    width: 150px;
    height: 150px;
    text-align: center;
}
.products a{
    color: white;
    padding: 10px 0;
}
.card-shadow img{
    background-color: white;
    border-radius: 9px;
    display: block;
    height: 100%;
    width: 100%;
}
.card-shadow:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
    border: 1px solid red;
    color: white;
}
.products .card-shadow {
    display: inline-block;
    text-align: center;
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
       background-color: red;
}

/* product Crad */

.product-card {
      transition: all .3s ease;
    }

    .product-card:hover{
      transform:translateY(-10px);
    }

    .product-img{
      transition:.4s;
    }

    .product-card:hover .product-img{
      transform:scale(1.2);
      transform: translateY(-10px);
    }

    .brand-logo{
      width:45px;
      height:45px;
      top:10px;
      right:10px;
      opacity: 0;
    }

    .product-card:hover .brand-logo{
      opacity:1;
      transform:translateY(5px);
    }

    .details-btn{
      opacity:0;
      transform:translateY(20px);
      transition:.3s;
    }

    .product-card:hover .details-btn{
      opacity:1;
      transform:translateY(0);
    }





